doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
        a(href= '/index') Home  
        a(href= '/about') About  
        a(href= '/log_in') Log In  
        a(href= '/international') International  
        a(href= '/united') United States  

    block content
